<h1>hello</h2>
<%if user_signed_in?%>
	<% e_mail=current_user.email%><%=link_to e_mail , destroy_user_session_path, method: :delete%>
<%else%>
	<%=link_to "sign", new_user_session_path , methode: :get %>
<%end%>
