<h1>users regestired</h1>
<% @Users.each do |user| %>
	<%= user.email %>
<%end%>

<% @Articles.each do |article| %>
	<br>
	<%= article.name %><%=link_to'show',article_path(article) ,method: :get%>
<%end%>
